
<button lab-bootstrap-popover id="popOver1" contentid="content1">弹出框1</button>
<button (click)="setContent1_1()">content1_1</button>
<button (click)="setContent1_2()">content1_2</button>
<div id="content1" style="display: none">
{{content1}}
</div>
<button lab-bootstrap-popover id="popOver2" contentid="content2">弹出框2</button>
<button (click)="setContent2_1()">content2_1</button>
<button (click)="setContent2_2()">content2_2</button>
<div id="content2" style="display: none">
{{content2}}
</div>
<p>下面是通过iterator来创建popover和要显示的内容</p>


<table>
<tr *ngFor="let num of nums;let i=index">
	<td><button lab-bootstrap-popover id="i-{{i}}" [attr.contentid]="contentIdgnerator(i)">button-{{i}}</button>
	<div [attr.id]="contentIdgnerator(i)" style="display: none">content-{{i}}</div>
	</td>
</tr>
</table>

<p>下面展示PopupComponent</p>
<button (click)="openPopup()">打开弹出框</button>
<fc-popup #myPopup>
	<p>弹出框内容</p>
	<button (click)="openOtherPoup()">弹出新的框</button>
</fc-popup>
<fc-popup #otherPopup>
	<p>其它弹出内容</p>
</fc-popup>

<button (click)="openPopup1()">打开弹出框1</button>
<fc-popup #myPopup1>
	<p>弹出框内容1</p>
</fc-popup>
